NEO4J_URI=URIOFYOURNEO4JINSTANCE
NEO4J_USERNAME=YOURUSERNAME
NEO4J_PASSWORD=YOURPASSWORD
NEO4J_DATABASE_NAME=YOURNEO4JDATABASE
NEO4J_INDEX_NAME = vector_index___Chunk___embedding

GEMINI_API_KEY = YOURKEYHERE
LLM_PROVIDER="google-genai"
LLM_MODEL_NAME="gemini-2.0-flash" 

